.image {
    width: 25%;
    height: auto;
}

#all {
    background-image: url("Dec\ 29.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 100%;
}

#site-title {
    margin-left: 5%;
}

.card {
    margin-left: 5%;
    margin-top: 5%;
}

#panel {
    opacity: 0;
}

#site-title {
    text-align: center;
}

#photo-card {
    margin-left: 5%;
    margin-right: 5%;
}

#resume {
    padding-left: 10px;
    color: white;
}