.image {
    width: 25%;
    height: auto;
}

.bg {
    background-image: url("./Tenessee.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#panel {
    opacity: 0;
}

#site-title {
    text-align: center;
}

#photo-card {
    margin-left: 5%;
    margin-right: 5%;
}

#resume {
    padding-left: 10px;
    color: black;
}