.image {
    width: 25%;
    height: auto;
}

.card {
    margin-top: 5%;
}

#panel {
    opacity: 0;
}

#site-title {
    text-align: center;
}

#photo-card {
    margin-left: 5%;
    margin-right: 5%;
}

#resume {
    padding-left: 10px;
    color: white;
}